<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031594209652-ber7qajqvh53bo90ip1a8nsqv6p4p75d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031594209652-ber7qajqvh53bo90ip1a8nsqv6p4p75d</string>
	<key>API_KEY</key>
	<string>AIzaSyBokaE6zXEOTLmGGWX4QUfSxobuBDXbrwo</string>
	<key>GCM_SENDER_ID</key>
	<string>1031594209652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iVlad.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofire-5c1fa</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-5c1fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031594209652:ios:72d73bb00416c8df9bfc21</string>
</dict>
</plist>